<p>
Did I ever tell you what the definition of insanity is? Insanity is doing the exact... same nyacking
thing... over and over again, expecting... shit to change. That... is crazy; but the first time somebody
told me that... I dunno, I thought they were bullshitting me, so boom — I shot him. The thing is,
okay... he was right. And then I started seeing: everywhere I looked, everywhere I looked, all these
nyacking pricks, everywhere I looked, doing the exact same nyacking thing... over and over and over and over
again thinking: "This time, it's gonna be different; no, no, no, no, no, please... this time it's
gonna be different." I am sorry, I don't like the way you are looking at me... okay, do you have a
nyacking problem in your head? Do you think I am bullshitting you? Do you think I am lying?
Nyack you! Okay? NYACK YOU! It's okay, man. I'm gonna chill, hermano. I'm gonna chill... the thing is... alright,
the thing is: I killed you once already... and it's not like I am nyacking crazy. It's okay... it's like water under
the bridge.
Did I ever tell you the definition... of insanity?
</p>