body {
    background: cyan;
}
aside {
    float: right;
    background: linear-gradient(to right, cyan, #1696F5);
    width: 19.8%;
    padding: 2.5%;
    height: 100vh;
    color: blue;
    border-right: 5px solid #15CEEB;


}
body img {
    width: 100%;
    height: 100%;
}
p {
    font-size: 11px;
}
body aside div {
    background: aliceblue;
    border-radius: 5px;
}
body aside div h3 {
    margin-left: 7px;
}
div.container {
    margin-left: -5px;
}
div#head {
    border: 1px solid black;
    width: 22%;
    background: silver;
    border-radius: 0 0 10px 0;

}